<nav class="navbar navbar-inverse navbar-custom" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand glyphicon glyphicon-tower" href="/">chess</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="https://github.com/papaloizouc/chess-python" target="_blank">Github</a></li>
            <li class="active active" ng-show="logged_in">
                <p class="navbar-text navbar-right">Signed in as <a href="#" target="_blank">{{logged_in}}</a></p>
            </li>
            <li>
                <button class="btn navbar-btn btn-primary" ng-click="sign_up_clicked()">Sign Up</button>
            </li>
            <li class="divider-vertical"></li>
            <li ng-if="!logged_in" ng-show="!logged_in">
                <button class="btn navbar-btn btn-success" ng-click="sign_in_clicked()">Sign In</button>
            </li>
            <li ng-show="logged_in">
                <button id="logout-button" ng-click="logout()" class="btn navbar-btn btn-danger">Log Out</button>
            </li>
        </ul>
    </div>
</nav>