<!DOCTYPE html>
<html ng-app="chess">
<head>
    <title>%^£$%$£%£$</title>
    <script type=text/javascript src="static/lib/angular.js"></script>
    <script type=text/javascript src="static/lib/angular-cookies.js"></script>
    <script type=text/javascript src="static/lib/kinetic.js"></script>
    <script type=text/javascript src="static/lib/underscore.js"></script>
    <script type=text/javascript src="static/lib/eventsource.js"></script>

    <script type=text/javascript src="static/lib/ui-bootstrap-0.9.0.js"></script>
    <script type=text/javascript src="static/js/app.js"></script>
    <script type=text/javascript src="static/js/services/login_service.js"></script>
    <script type=text/javascript src="static/js/controllers/canvas_ctrl.js"></script>

    <script type=text/javascript src="static/js/directives/input.js"></script>

    <link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
</head>

<body ng-controller="CanvasCtrl">

<ng-include src="'templates/navbar.html'"></ng-include>

<div id="app" style="margin: 10px" data-ng-init="init()">
    <div id="container"></div>
    <button id="start-button" type="button" ng-click="startClicked()" class="btn btn-success btn-lg">Start</button>
    <!--<div ng-if="!logged_in" ng-show="!logged_in">-->
    <!--<ng-include src="'templates/login.html'"></ng-include>-->
    <!--</div>-->
</div>

</body>
</html>
