<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">chess</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="https://github.com/papaloizouc/chess-python" target="_blank">Github</a></li>
            <li class="active" ng-show="logged_in">
                <a href="" target="_blank">{{logged_in}}</a>
            </li>
        </ul>
        <ul ng-if="!logged_in" ng-show="!logged_in" class="navbar-search">
            <li>
                <input id="username" placeholder="Username" type="text" name="username" ng-model="username"/>
                <button id="login-button" type="button" ng-click="login(username)" class="btn">Login</button>
            </li>
            <li>
                <input id="password" type="text" placeholder="Password">
            </li>

        </ul>
    </div>
</nav>